[submodule "scripts/seedrandom"]
	path = scripts/seedrandom
	url = https://github.com/davidbau/seedrandom
[submodule "scripts/cytoscape"]
	path = scripts/cytoscape
	url = https://github.com/cytoscape/cytoscape.js
[submodule "scripts/dagre"]
	path = scripts/dagre
	url = https://github.com/dagrejs/dagre
[submodule "scripts/cytoscape-dagre"]
	path = scripts/cytoscape-dagre
	url = https://github.com/cytoscape/cytoscape.js-dagre
